@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    text-align: center;
    margin: 20px;
    border: 0px 0px;
    padding: 10px 50px 10px 50px;
    display: block;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    text-align: center;
    margin: 20px;
    border: 10px 0px;
    padding: 1px 50px 1px 50px;
    display: block;
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline-block;
    margin: 20px;
}

